header {
  text-align: center;
}


.card {
  min-height: 800px;
}

.card img {
  max-height: 500px;
  padding: 20px;
  border-radius: 25px;
}

.card-body {
  text-align: center;
}

.bg-lg-gray {
  background-color: rgb(167, 255, 126);
}