.card {
  min-height: 800px;
}

.card img {
  max-height: 500px;
  padding: 20px;
  border-radius: 25px;
}

.head-card {
  background-color: rgb(167, 255, 126);
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.bg-lg-gray {
  background-color: rgb(167, 255, 126);
}